*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  background-color: black; }

li {
  list-style: none; }

main {
  max-width: 375px;
  background-color: #e5eff5;
  padding: 4.5rem 2rem; }

.container {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.1); }

@media (min-width: 768px) {
  main {
    max-width: 1440px;
    padding: clamp(5rem, 7%, 10rem) clamp(10rem, 20%, 25rem); }
  .container {
    grid-template-areas: "top top" "left right";
    grid-template-columns: repeat(2, 20rem); } }

body {
  font-family: "Karla";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2; }

.flex {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-col {
  flex-direction: column; }

.flex-row {
  flex-direction: row; }

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
  color: rgba(42, 178, 175, 0.8); }
  .attribution a {
    color: white; }

.grid {
  display: grid; }

.grid-row {
  grid-template-rows: repeat(3, 1fr); }

@media (min-width: 768px) {
  .grid-row {
    grid-template-rows: repeat(2, min-content); } }

.section {
  padding: 1.5625rem;
  align-items: start; }
  .section-top {
    background-color: white;
    gap: 1.5rem; }
    .section-top--heading {
      color: #2ab2af;
      font-weight: 700; }
    .section-top--subheading {
      color: #c0df34;
      font-weight: 700;
      font-size: 1rem; }
    .section-top--para {
      color: #98a6bd;
      font-size: 0.87rem;
      line-height: 2; }
  .section-left {
    background-color: #2ab2af;
    color: #e5eff5;
    gap: 1.5rem; }
    .section-left--heading {
      font-size: 1.2rem; }
    .section-left--price {
      font-size: 2.5rem;
      font-weight: 700; }
      .section-left--price span {
        color: #ace2e0;
        font-size: 16px;
        font-weight: 400; }
    .section-left button {
      cursor: pointer;
      width: 100%;
      background-color: #c0df34;
      color: #e5eff5;
      border: none;
      border-radius: 5px;
      padding: 1rem 2rem;
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 1px;
      box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.1);
      margin-top: 1rem;
      transition: all ease-in-out 0.1s; }
      .section-left button:hover {
        transform: scale(1.06);
        background-color: #a8c71f; }
  .section-right {
    background-color: rgba(42, 178, 175, 0.8);
    color: #e5eff5;
    gap: 1.5rem; }
    .section-right--heading {
      font-size: 1.2rem; }
    .section-right--list {
      font-weight: 400;
      align-items: start;
      gap: 0.2rem;
      color: #aceceb; }

@media (min-width: 768px) {
  .section {
    padding: 2.5625rem; }
    .section-top {
      grid-area: top;
      height: min-content; }
      .section-top--subheading {
        font-size: 1.2rem; }
      .section-top--para {
        font-size: 1rem;
        line-height: 1.5; }
    .section-left {
      grid-area: left; }
    .section-right {
      grid-area: right; } }
