$color-primary-cyan: hsl(179, 62%, 43%);
$color-primary-yellow: hsl(71, 73%, 54%);

$color-neutral-light: hsl(204, 43%, 93%);
$color-neutral-dark: hsl(218, 22%, 67%);

$color-white: hsl(0, 0%, 100%);

$color-bg-dark: hsla(179, 62%, 43%, 1);
$color-bg-light: hsla(179, 62%, 43%, 0.8);

$fs-default: 16px;

$ff-default: "Karla";

$fw-default: 400;
$fw-bold: 700;
