*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: hsl(0, 0, 0);
}

li {
  list-style: none;
}

main {
  max-width: 375px;
  background-color: $color-neutral-light;
  padding: 4.5rem 2rem;
}

.container {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  main {
    max-width: 1440px;
    padding: clamp(5rem, 7%, 10rem) clamp(10rem, 20%, 25rem);
  }

  .container {
    grid-template-areas:
      "top top"
      "left right";

    grid-template-columns: repeat(2, 20rem);
  }
}
