.section {
  padding: 1.5625rem;
  align-items: start;

  &-top {
    background-color: $color-white;
    gap: 1.5rem;

    &--heading {
      color: $color-primary-cyan;
      font-weight: $fw-bold;
    }

    &--subheading {
      color: $color-primary-yellow;
      font-weight: $fw-bold;
      font-size: 1rem;
    }

    &--para {
      color: $color-neutral-dark;
      font-size: 0.87rem;
      line-height: 2;
    }
  }

  &-left {
    background-color: $color-bg-dark;
    color: $color-neutral-light;
    gap: 1.5rem;

    &--heading {
      font-size: 1.2rem;
    }

    &--price {
      font-size: 2.5rem;
      font-weight: $fw-bold;

      & span {
        color: hsl(178, 48%, 78%);
        font-size: $fs-default;
        font-weight: $fw-default;
      }
    }

    & button {
      cursor: pointer;
      width: 100%;
      background-color: $color-primary-yellow;
      color: $color-neutral-light;
      border: none;
      border-radius: 5px;
      padding: 1rem 2rem;
      font-size: 1rem;
      font-weight: $fw-bold;
      letter-spacing: 1px;
      box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.1);
      margin-top: 1rem;
      transition: all ease-in-out 0.1s;

      &:hover {
        transform: scale(1.06);
        background-color: hsl(71, 73%, 45%);
      }
    }
  }

  &-right {
    background-color: $color-bg-light;
    color: $color-neutral-light;
    gap: 1.5rem;

    &--heading {
      font-size: 1.2rem;
    }

    &--list {
      font-weight: $fw-default;
      align-items: start;
      gap: 0.2rem;
      color: hsl(179, 62%, 80%);
    }
  }
}

@media (min-width: 768px) {
  .section {
    padding: 2.5625rem;

    &-top {
      grid-area: top;
      height: min-content;

      &--subheading {
        font-size: 1.2rem;
      }

      &--para {
        font-size: 1rem;
        line-height: 1.5;
      }
    }

    &-left {
      grid-area: left;
    }

    &-right {
      grid-area: right;
    }
  }
}
